@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&family=Dosis:wght@500&family=Fira+Sans+Condensed:ital,wght@0,300;1,200&family=Fredoka:wght@500&family=Open+Sans:ital@1&family=Pacifico&family=Patrick+Hand&family=Rubik&family=Supermercado+One&display=swap" rel="stylesheet');

body {
    font-family:  'Comic Neue', cursive;
    margin: 0px;
}

:root {
    --primary-color: #ff0000;
}

body {
    font-family: 'neue', comic;
    color: var(--primary-color);
    margin: 1vh;
    font-weight: bolder;
}

p {
    text-align: center;
    padding: 1rem;
}

h1 {
    text-align: center;
    padding: 1rem;
}

label .radio {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: transparent;
    vertical-align: middle;
   
    border-radius: 50%;
    padding: 2px;
    margin:0 5px;
}

label {
    font-weight: 500;
    border-radius: 0.5rem;
    font-size: x-large;
    margin: auto;
    margin-top: 2rem;
    display: block;
    text-align: center;
}

input {
    background-color: white;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    padding: 0.4rem 1rem;
    border-radius: 0.5rem;
    font-size: large;
    margin: auto;
    margin-top: 2rem;
    display: block;
    text-align: center;
}

#area-btn,
#check-btn,
#triangle-btn,
#quiz-btn
 {
    background-color: white;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    padding: 0.4rem 1rem;
    border-radius: 0.5rem;
    font-size: large;
    cursor: pointer;
    margin: auto;
    margin-top: 2rem;
    display: block;
}

#output {
  text-align: center;
  padding: 3rem;
  font-size: x-large;
}
